.container{
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    /* kedua */
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap-reverse;
}


.container div{
    width: 120px;
    height: 120px;
    background-color: rgb(77, 19, 212);
    color: white;
    float: left;
    /* kedua */
    margin: 2px;
}